* {
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 11pt;
    margin: 10px 100px 300px 100px;
}

button {
    padding: 0 10px;
}

h2 {
    margin: 0 0 5px 0;
}

ol, ul {
    margin: 0 0 0 30px;
}

table {
    width: 100%;
}

td {
    padding: 5px 0;
    vertical-align: text-top;
}

#menu {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    margin: 10px 0 10px 0;
    padding: 0 10px;
}

#menu .item {
    display: inline-block;
    margin: 5px 15px 10px 0;
}

form {
}

form .item {
}

form .item .name {
}

form .item .input {
}

.processes {
}

.processes .process {
    margin: 0 0 10px 0;
}

.processes .process div {
    display: inline-block;
}

.processes .process .status {
    float: right;
}

.processes .process .create-time {
    font-size: 8pt;
    margin: 0 0 0 10px;
}